<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 🌐 Internet für Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="${applicationName}"
        android:label="Hood Politix"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/LaunchTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode">

            <!-- Theme sichtbar, bis Flutter UI geladen ist -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Einstiegspunkt -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔒 Firebase App Check – Debug Token (für Emulator-Builds) -->
        <meta-data
            android:name="firebase_app_check_debug_token"
            android:value="3a1bf226-5ca4-4d18-85b0-0b5552160fdc" />

        <!-- 🧩 Flutter-Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- ⚙️ Erforderlich für Text-Verarbeitung (Flutter Engine intern) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
